
header{
	font-family: Arial, Helvetica, sans-serif;
	padding:1rem 5%;
	position: fixed;
	top:0; left: 0; right: 0;
	z-index: 1000;
	box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
  }
  
  .header .logo{
	font-size: 1rem;
	color: #444;
  }
  
  .header .logo i{
	color: #029EE4;
  }
  
  .header .navbar a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	color: #000000;
	margin-left: 2rem;
  }
  
  .header .navbar a:hover{
	color: #029EE4;
  }
  
  a:-webkit-any-link {
	cursor: pointer;
	text-decoration: none;
  }
  
/* Signup page start */
.tblSize{width:500px;}
.Three{width:198px;}
.Two{width:298px;}

td {
    display: table-cell;
    vertical-align: inherit;
	color: white;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.formcenter{     /*Form Center*/
	background-color: #A3BAD9;
	max-width: 700px;
	width: 100%;
	border-radius: 10px;
	height: 75vh;
	display:flex;
	align-items:center;
	justify-content:center;
	position:absolute;
	
	right:0;
	left:0;
	top: 100px;;
	bottom:80px;
	margin:auto; 
}

/* .logo{
	width:150px;
	height:40px;
	position:relative;
	top:85px;
	left:55px;
	} */

	/* add css to button */
.btn {
		background-color: #029EE4; /* Green */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 10px;
	}
/* apply css only to input file button */
input[type="file"] {
		background-color: #029EE4; /* Green */
		border: none;
		color: white;
		padding: 15px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 10px;
	}
	
	/* add css to span */
	span {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
	}

	/* position title right above the form */
	.title {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 25px;
		position: relative;
		top: 100px;
		left: 55px;
	}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #029EE4; 
	color: white;
	text-align: center;
	font-size: 15px;	
	font-family: Arial, Helvetica, sans-serif;
	}

	.btn-1{
padding: 10px 20px;
		background-color: #029EE4; 
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
		border-radius: 10px;
	}
/* Signup page end */

.container{
	position: absolute;
	width: 521px;
	height: 445px;
	left: 450px;
	top: 112px;
	justify-content: center;
}
.container .content h3{
	font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;    
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.container .content .p{
	text-align: center;
}

.container .notes-dash{
	display: inline;
	padding: 50px 50px;
	margin-left: 60px;
	
  }

 .container .notes-dash .button-text{
	margin:0 10px;
	padding: 5px 20px;
	background-color: #029EE4; 
    display: inline-block;
	cursor: pointer;
	border-radius: 10px;	
  }

  .notes-dash .button-text:hover{
	background-color: #e40260;
  }

.main-dash h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	position: relative;
	top: 120px;
	left: 55px;
}

.main-dash img{
	position: relative;
	height: 50%;
	width:2%;
	top: 90px;
	left: 1200px;
}

.cards{
	margin-left: 10%;
	padding-top: 75px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 25px;
  }

.cards .card{
	border-radius: 10px;
	padding: 20px 15px;
	width: 250px;
	height: 150px;
	background-color: rgb(5, 169, 245);
	margin: 20px 10px;
	display: grid;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
 .cards .card:hover{
	background-color: rgb(99, 124, 135);
  }
  
.cards .card .Icon img{
	width: 40px;
	height: 40px;
  }
  
  .button-text{
    appearance: button;
    backface-visibility: hidden;
    background-color: #029EE4;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }

  .button-text:hover{
	background-color: #e40260;
  }

  h3{
	font-family: Arial, Helvetica, sans-serif;
	color: white;

  }

  .button-text a{
	color: white;
  }


  h2{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
  }

  /* login */

  .home{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
  }

  .home .main{
    width:100vw;
     height:100vh;
     display:grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 7rem;
     padding:0 2rem;
  }

  .home .main .image img{

	position: absolute;
width: 457px;
height: 457px;
left: 150px;
top: 117px;

  }

  .home .main .main2{
	position: absolute;
width: 521px;
height: 445px;
left: 650px;
top: 164px;
  }

  .home .main .main2 .form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .home .main .main2 .form table td{
	padding: 10px;
	color: black;
  }

  .home .main .main2 .form table td input{
	width: 100%;	
	height: 40px;
	border-radius: 10px;
	border: 1px solid #029EE4;
	width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .home .main .main2 .form table td input:focus{
	outline: none;
  }

  .home .main .main2 .form table td input[type="submit"]{
	background-color: #029EE4;
	color: white;
	font-size: 20px;
	font-weight: bold;
  }

  .home .main .main2 .form table td input[type="submit"]:hover{
	background-color: #e40260;
  }

  .home .main .main2 .form table td a{
	text-decoration: none;
	color: #029EE4;
  }

  .home .main .main2 .form table td a:hover{
	color: #e40260;
  }

  

  .notes-dash{
	display: inline;
	padding: 100px 100px;
	
  }

 .notes-dash .button-text{
	margin:0 10px;
	margin-top: 150px;
	padding: 10px 20px;
	background-color: #029EE4; 
    display: inline-block;
	cursor: pointer;
	border-radius: 10px;	
  }

  .notes-dash .button-text:hover{
	background-color: #e40260;
  }

  
/* Signup page */
body h1{
    position: absolute;
    width: 496px;
    height: 54px;
    left: 600px;
    top: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    color: #111832;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container2{
	position: absolute;
    width: 950px;
    height: 500px;
    left: 270px;
    top: 140px;
    background: #029EE4;
    box-shadow: 0px 10px 10px rgba(0, 16, 35, 0.28);
    border-radius: 25px;
    justify-content: space-between;
	text-align: center;
}
.container2 h1{
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 229.54px;
    height: 24.2px;
    left: 400.23px;
    top:20px;
    margin: 0;

}

.container2 .form{
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 280px;
    padding-right: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.container2 .lables{
    left:400px;
    padding: 5px 0;
    font-size: 12px;
    color: white;
    justify-content: space-between;
}

.container2 .lables input{
    left:700px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 0 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.container2 .lables label{
   font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    justify-content: space-between;
}

.btn-2{
        border-width: 0;
        position: absolute;
        padding: 10px 20px;
        left: 650.66px;
        top: 450.51px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        color: #029EE4;
        text-align: center;
        display: inline-block;
        cursor: pointer;
}


/* ------------------testing----------- */


.main-notif {
    margin-top: 200px;
    justify-content: space-between;
}

.main-notif h1{
  position: absolute;
width: 276px;
height: 46px;
left: 100px;
top: 115px;
font-style: normal;
line-height: 56px;
color: #111C43;
}

.notif-bar {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    background-color: #029EE4;
    justify-content:space-between;

}
.notif-bar .notif-left {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.notif-bar img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.notif-card{
  position: absolute;
  width: 300.53px;
  height: 50px;
  left: 350.11px;
  top: 236px;
background: #F3F4F5;
border-radius: 25px;
}
.notif-card h3 {
    color: black;
    width: 100%;
    text-align: center;
    margin-top: 13px;
}

.notif-btns {
    width: auto;
    display: flex;
    float: right;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
    justify-content: end;
}

.notif-bar button {
    height: fit-content;
    height: 50px;
    border-radius: 15px;
    width: 130px;
    margin-top: 30px;
    margin-right: 10px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    color: #029EE4;
}

/* ------------------ child card search ----------- */

.main-mother {
  margin-top: 200px;
  justify-content: space-between;
}

.main-mother h1{
  font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	top: 120px;
	left: 55px;
}
.mom-filter {
  margin-bottom: 20px;
  /* background-color: #d42424; */
  margin-left: 15%;
  margin-right: 15%;
}

.mom-filter-right {
  float: right;
  margin-top: 5px;
}

.mom-filter-right label {
  margin-right: 10px;
}

.dropdown-menu {
  width: auto;
  height: 30px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding-left: 20px;
  padding-right: 30px;


}

.mom-search {
  width: 30%;
  height: 40px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  padding-left: 20px;
}

.mom-bar {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: auto;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
  background-color: #029EE4;
  justify-content:space-between;

}
.mom-bar-left {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.mom-bar img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mom-bar h3 {
  color: #f0f0f0;
  margin-left: 10px;
  width: 100%;
  margin-block: -1px;
  margin-right: 20px;
  margin-left: 20px;
  float: right;
  /* background-color: #054664; */
}

.second-line {
  color: #f0f0f0;
  margin-left: 10px;
  width: 100%;
  margin-block: -1px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 15px;
  float: right;
}

.mom-bar h3 {
  margin-top: 30px;
  font-size: 26px;
}

.mom-btns {
  /* background-color: #d0f0ff; */
  width: auto;
  display: flex;
  float: right;
  flex-direction: row;
  gap: 20px;
  margin-right: 20px;
  justify-content: end;
}

.mom-bar button {
  height: fit-content;
  height: 50px;
  border-radius: 15px;
  width: 130px;
  margin-top: 30px;
  margin-right: 10px;
  border-style: none;
  font-size: 15px;
  font-weight: bold;
  color: #029EE4;
}

.mom-bar button:hover {
  background-color: #111C43;
  transition: all 0.2s;
}

/* ------------------ notes page ----------- */

.main-notes{
	margin-top: 150px;
	margin: 10px 50px;
    padding-top: 150px;
    padding-left: 200px;
  }

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #029EE4;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th{
  font-size: 1rem;
}

.styled-table td{
  color: #000000;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    
}

.styled-table td a{
  padding: 10px 20px;
  background-color: #029EE4; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
}

.styled-table td a:hover{
  background-color: #e40260;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #029EE4;
}
