
*{
    margin: 0px;
    padding: 0px;
   }
   
   body{
    font-family: arial;
   }
   
   .main{
    margin: 5%;
   }
   
   .card{
       height: 150px;
       width:250px;
       padding: auto;
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-flow: row;        
        box-shadow: 2px 2px 20px black;
        display: inline-flex;
        border-radius: 5px; 
        margin: 2%;
        background-color: rgb(2, 158, 228);
        align-items: center;
       }
   
   .card:hover{
           height: 200px;
           width:300px
       }
   
   h1{
     font-size: 20px;
     color: white;
     position: center;
     padding-top: 100px;
     padding-left: 25px;
     
    }
   
   .notification{
   position: absolute;
   top: 50px;
   right: 150px;
    }

   h2{
       font-size: 30px;
   }

   a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }