body{
    font-family: Arial, Helvetica, sans-serif;
}

.table-data {
    background-color: #ffffff;
    color: #333333;
    font-size: 14px;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius:  30px 30px 30px 30px;
 
  }
   
  .table-data th,
  .table-data td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  .table-data th {
    text-align: left;
    background-color: #f5f5f5;
    color: #333333;
    font-weight: bold;
  }
  
  .btn-success {
    background-color: darkblue;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 400px;
  }
  
  .btn-success:hover {
    background-color: #002080;
    border-color: #002080;
  }
  
  .btn-success:focus,
  .btn-success.focus {
    box-shadow: 0 0 0 3px rgba(0, 64, 183, 0.5);
  }
  
  .btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
  .btn-success.disabled,
  .btn-success[disabled],
  fieldset[disabled] .btn-success,
  .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled:active,
  .btn-success[disabled]:active,
  fieldset[disabled] .btn-success:active,
  .btn-success.disabled.active,
  .btn-success[disabled].active,
  fieldset[disabled] .btn-success.active {
    background-color: #0040b7;
    border-color: #0040b7;
  }
  
  .btn-success .badge {
    color: #0040b7;
    background-color: #ffffff;
  }
  
  .btn-success.disabled .badge,
  .btn-success[disabled] .badge,
  fieldset[disabled] .btn-success .badge {
    color: #b6b6b6;
    background-color: #f7f7f7;
  }

  .t-colum{
    margin-left: 15%;
    width: 70%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgb(157 154 154 / 10%), 0 6px 20px 0 rgb(147 142 142 / 29%);
    padding: 20px
  }