
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Children List</title>
    <link rel="stylesheet" href="..\..\Assets\css\phm-list.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="nav">
               <div class="logo"><img src="..\..\Assets\images\images-Sachini\logo.png" alt="website logo"></div>
               <span></span>
               <div class="nav-text">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="phm-childrenList.html">Dashboard</a>
               </div>
               <div class="image-user"><img src="..\..\Assets\Images\images-Sachini\people.png" alt="user profile picture"></div> 
            </div>
        </div>
        <div class="content">
            <div class="container-n">
            <h1>Children</h1>
            <img src="..\..\Assets\images\images-Sachini\\notification.png" alt="notification icon">
            </div>
            <div class="bar-container">
                <div class="bar">
                    <div class="img-manage">
                        <img src="..\..\Assets\images\images-Sachini\guest.png" alt="doctor profile picture">
                        <div class="text-manage">
                            <h3>Mrs.Indrani Perera</h3>
                            <p>Address or detail</p>
                        </div>
                    </div>
                    <div class="btn">
                        <div class="btn-manage">
                            <input type="button" value="View Details">
                            <div class="btn-manage-grid">
                                <input type="button" value="Date 22/11/2022">
                                <input type="button" value="Time 8.45 am">
                            </div> 
                        </div> 
                        </div>
                    </div>    

                <div class="bar">
                    <div class="img-manage">
                        <img src="..\..\Assets\images\images-Sachini\guest.png" alt="doctor profile picture">
                        <div class="text-manage">
                            <h3>Mrs. H. Ediriweera</h3>
                            <p>Address or detail</p>
                        </div>
                    </div>
                    <div class="btn">
                        <div class="btn-manage">
                            <input type="button" value="View Details">
                            <div class="btn-manage-grid">
                                <input type="button" value="Date 22/11/2022">
                                <input type="button" value="Time 8.45 am">
                            </div> 
                        </div> 
                        </div>
                    </div>  

                <div class="bar">
                    <div class="img-manage">
                        <img src="..\..\Assets\images\images-Sachini\guest.png" alt="doctor profile picture">
                        <div class="text-manage">
                            <h3>Mrs.H. A. Wasantha</h3>
                            <p>Address or detail</p>
                        </div>
                    </div>
                    <div class="btn">
                        <div class="btn-manage">
                            <input type="button" value="View Details">
                            <div class="btn-manage-grid">
                                <input type="button" value="Date 22/11/2022">
                                <input type="button" value="Time 8.45 am">
                            </div> 
                        </div> 
                        </div>
                    </div>     
            </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>