.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
    height: 60px;
    margin:-10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    position:relative;
    align-items: center;
}

.topnav ul li a {
    color: #111C43;
    font-family:'Calibri';
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.topnav ul {
    width: 100%;
    text-align: right;
}

.topnav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.profile_pic {
    width: 40px;
    height: 40px;
    cursor: pointer;
}