.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
    height: 60px;
    margin:-10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    position:relative;
    align-items: center;
}

.topnav ul li a {
    color: #111C43;
    font-family:'Calibri';
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.topnav ul {
    width: 100%;
    text-align: right;
}

.topnav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.profile_pic {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 20px;
    stroke-width: 5px;
    stroke: #111C43;
}

.Side-nav {
    background-color: #029EE4;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    margin-top: 100px;
    margin-left: 80px;
    height: 845px;
    border-radius: 25px;
    position: absolute;
}

.side-nav-table tr td {
    padding-left: 20px;
    padding-bottom: 30px;
}

.side-nav-table td a{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #F3F4F5;
    text-decoration: none;
}
