* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.container .header {
    background-color: rgb(195, 197, 197);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav {
    display: felx;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav span{
    margin-left: 50%
}

a {
    text-decoration: none;
}

.container .header .nav .nav-text a {
    font-size: 17px;
    font-weight: 600;
    color: black;
    padding-left: 30px;
}

.container .header .nav .logo img {
    width: 150px;
    height: 50px;
}

.container .header .nav .image-user img {
    height: 42px;
    width: 42px;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 75vh;
}

.container .content .container-n {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.container .content .container-n img {
    margin-right: 5%;
    width: 34px;
    height: 32px;
}

h1 {
    text-indent: 0.8rem;
    font-weight: 700;
    font-size: 40px;
    margin-left: 5%;
}

.container .content .doctor-form {
    width: 70%;
    height: 85%;
    background-color: rgb(177, 217, 238);
    margin-left: 15%;
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
}

.container .content .doctor-form form {
    padding: 35px;
}

.container .content .doctor-form .first-raw {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.container .content .doctor-form .first-raw .doctor-id input {
    border-radius: 20px;
    border-style: none;
    outline-style: hidden;
    padding: 15px 25px;
    width: 150px;
    height: 30px;
    margin-left: 15px;
}

.container .content .doctor-form .first-raw select {
    border-style: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline-style: none;
}

.container .content .doctor-form .middle .middle-content {
    display: flex;
    margin-top: 15px;
    height: 75%;
}

.container .content .doctor-form .middle .middle-content .labels {
    display: grid;
    padding-right: 50px;
    padding-top: 10px;
    padding-right: 30px;
}

.container .content .doctor-form .middle .middle-content .inputs {
    display: grid;
}

.container .content .doctor-form .middle .middle-content .inputs input {
    border-radius: 10px;
    border-style: none;
    outline-style: none;
    padding: 15px 25px;
    width: 500px;
    height: 30px;
    margin-bottom: 15px;
}

.container .content .doctor-form .middle .btn {
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.container .content .doctor-form .middle .btn .add-user-btn {
    width: 100px;
    height: 30px;
    background-color: rgb(5, 169, 245);
    color: white;
    border-radius: 5px;
    border-style: none;
    margin-top: 5px;
}

.container .content .doctor-form .middle .btn .add-user-btn:hover {
    background-color: rgb(1, 143, 225);
}

.msg {
    animation: cssAnimation 0s 3s forwards;
    visibility: visible;
    position: relative;
    
  }
  
  @keyframes cssAnimation {
    to   { visibility: hidden; }
  }

.msg .nor-message{
    color: #2f6473;
    background-color: #def2f8;
    border-color: #d1edf6;

    padding: .75rem 6rem;
    margin-bottom: 1rem;
    border: 0 solid transparent;
    border-radius: 1px;
}

.msg .imp-message{
    color:#712b29;
    background-color: #f7dddc;
    border-color: #f4cfce;

    padding: .75rem 6rem;
    margin-bottom: 1rem;
    border: 0 solid transparent;
    border-radius: 1px;
}



