@import url(https://fonts.googleapis.com/css?family=roboto);

*{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FFFFFF;
}
.content{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: relative;
    margin-top: 100px;
    min-height: 800px;
}
.heading{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

}
h1{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 56px;
    padding-left: 40px;

    color: #111832;
}

/* Back Button */

.goBackBtn {
    width: 100px;
    height: 30px;
    margin-top: 100px;
    border-style: none;
    border-radius: 25px;
    color: #ffffff;
    background-color: #029EE4;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 15%;
    margin-bottom: 20px;
    position: fixed;
}

.goBackBtn:hover {
    background-color: #ff0000;

}

/* Dashboard Cards */

.content .heading .material-icons{
    font-size: 42px;
    color: #EA2727;
    padding-right: 20px;
}
.cards-list{
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 25px;
}
.card{
    padding: 20px 15px;
    width: 250px;
    height: 150px;
    background: #029EE4;
    border: 1px solid #D9D9D9;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px 10px;
    display: grid;
    justify-content: start;
    align-content: stretch;
}
.card:hover {
    background-color: rgb(1, 143, 225)
}
.icon-set{
    padding-left: 25px;
    padding-top: 15px;
}
.icon-set .material-icons-outlined{
    font-size: 48px;
    font-weight: 100;
    color: #f4f5f6;
}
/* logout section */
.logout{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.logout button{ 
    width: 120px;
    height: 60px;
    background: #D9D9D9;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
}
.logout button:hover{
    background-color: #a7a7a7;
}
.logout-btn-items{
    display: flex;
    justify-content: center;
    color: #111C43;
}
h3{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h4{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #111C43;
}
a{
    text-decoration: none;
}

/* Mother Profile Update */

.profile-page-content{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.profilepic-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pro-pic1 img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}
.profile-name h4{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    padding: 20px;

    color: #111C43;
}
.profile-address{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
}
.profile-address span{
    font-size: 42px;
    color: #24D4B9;
    padding-right: 20px;
}
.profile-address h4{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: #111C43;
}
.vline{
    border-left: 2px solid #D9D9D9;
    height: 800px;
    margin-top: 100px;
}
.profile-data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    width: 600px;
    height: 800px;
    margin-top: 100px;
    
    background: #029EE4;
    box-shadow: 20px 20px 50px rgba(0, 16, 35, 0.12);
    border-radius: 25px;
}
.update-form{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #111C43;
}
.update-form p{
    font-weight: 500;
}
.update-form td{
    
    padding: 10px 40px 10px 40px;
}
.update-form td ul{
    list-style: none;
}
.update-form input{
    position: relative;
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 400;
}
input::file-selector-button {
    background-color: #24D4B9;
    border: none;
    border-radius: 5px;
    margin-top: 6px;
  }
.update-form .mother-id{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.update-form .mother-id label{
    padding-left: 20px;
}
.profileUpdate-buttons{
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    padding-left: 150px;
}
.profileUpdate-buttons button, .profileUpdate-buttons input[type]{
    width: 120px;
    height: 30px;
    background: #F3F4F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    margin-right: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;

    color: #029EE4;
}
.profileUpdate-buttons button:hover{
    color: #111C43;
}
.profileUpdate-buttons input[type]:hover{
    color: #111C43;
}

/* Password Reset */
.pass-reset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    width: 600px;
    height: 500px;
    margin-top: 100px;
    
    background: #029EE4;
    box-shadow: 20px 20px 50px rgba(0, 16, 35, 0.12);
    border-radius: 25px;
}

/* Mother profile details */
.profile-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20%;
    width: 800px;
    height: 450px;
    margin-top: 100px;
}
.profile-content hr{
    width: 100%;
    height: 2px;
    background: #D9D9D9;
    border: none;
}
.profile-pic{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20px;
    padding-top: 170px;

    width: 40%;
    height: 100%;
}
.profile-content .profile-pic img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}
.profile-details{
    display: flex;
    flex-direction: column;
}
.profile-details table{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #111C43;
}
.profile-details p{
    font-weight: 500;
}
.profile-details td{
    padding: 10px 40px 10px 40px;
    /* background-color: #f3f4f5; */
    border-radius: 20px;
}
.profile-details td ul{
    list-style: none;
}
.profile-child-data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
    width: 80%;
    height: 100%;
}
.profile-child-data h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #111C43;
}
.child-details{
    display: flex;
    align-items: center;
}
.child-details label{
    padding-right: 80px;
}
.child-details input{
    width: 50px;
    height: 20px;
    background: #029EE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    margin-right: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    align-items: center;
    text-align: center;

    color: #F3F4F5;
}
.child-details input:hover{
    color: #111C43;
}
.profile-buttons {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    padding: 20px;
    flex-direction: column;
}
.profile-buttons a{
    padding-top: 10px;
}
.profile-buttons button{
    width: 150px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    margin-right: 20px;
    color: #F3F4F5;
}
.profile-buttons button:hover{
    color: #111C43;
}


/* Appointments Page */
.add-btn{
    display: flex;
    justify-content: center;
    padding-left: 800px;
}
.add-btn button{
    width: 250px;
    height: 40px;
    background: #F3F4F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    margin-right: 20px;
}
.add-btn-items{
    display: flex;
    justify-content: center;
    color: #111C43;
}
.add-btn-items h4{
    padding-right: 20px;
}

.app-content{
    display: flex;
    flex-direction: column;
    padding-top: 0%;
}

/* Appointment List */

.app-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    width: 1000px;
    height: 100px;
    margin-top: 10px;
    
    background: #029EE4;
    box-shadow: 20px 20px 50px rgba(0, 16, 35, 0.12);
    border-radius: 25px;
}
.app-card img{
    width: 75px;
    height: 75px;
    border-radius: 40px;
}
.dr-pro-pic{
    padding-left: 20px;
}
.app-card .details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    width: 600px;
}
.app-card .details h5{
    font-size: 16px;
    font-weight: 500;
    color: #F3F4F5;
}
.app-card .details p{
    font-size: 12px;
    font-weight: 300;
    color: #F3F4F5;
}
.app-card .app-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.app-card .app-buttons button{
    width: 100px;
    height: 50px;
    background: #F3F4F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    margin-right: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    text-align: center;

    color: #029EE4;
}
.app-card .app-buttons button:hover{
    color: #111C43;
}

/* Appointment create */
.app-board{
    display: flex;
    position: absolute;
    width: 800px;
    height: 500px;
    left: 20%;
    top: 165px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: #029EE4;
    box-shadow: 0px 10px 10px rgba(0, 16, 35, 0.28);
    border-radius: 25px;
}
.app-form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.app-topic{
    display: flex;
    align-items: flex-start;
}
.app-topic label{
    padding: 0px 20px 40px 20px;
}
.app-topic input{
    position: relative;
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    background: #FFFFFF;
    border-radius: 15px;
}
.app-details, .app-topic label, .app-details-view{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #F3F4F5;
}
.app-details td{
    width: 50%;
    padding: 10px 40px 10px 40px;
}
.app-details .input-fields input{
    position: relative;
    width: 400px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    padding-left: 20px;
    background: #FFFFFF;
    border-radius: 10px;
}
.btn{
    float: right;
    padding-top: 20px;
}
.btn input[type]:hover{
    color: #111832;
}
.btn input[type]{
    box-sizing: border-box;

    position: relative;
    width: 80px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    float: right;
    margin-left: 10px;
    margin-top: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #029EE4;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* Appointment View  */

.app-board p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}
.app-details-view td{
    width: 60%;
    padding: 10px 40px 10px 40px;
}

/* Medical Instructions */

.topics{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-left: 35%;
    width: 400px;

    height: 400px;
    
    background: #f4f5f6;
    box-shadow: 20px 20px 50px rgba(0, 16, 35, 0.12);
    border-radius: 25px;
}
.topics-i{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 40px;
    background: #029EE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.topics-i h4{
    text-align: center;
    color: #F3F4F5;
}
.sub-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    height: 50px;
    margin-left: 15%;
    margin-top: 20px;
    background: #24D4B9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.med-ins{
    width: fit-content;
    height: 15px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 8px;
    background: #f4f5f6;
    border-radius: 15px;
}
.med-ins1{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.med-ins h4{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.popup-window{
    position: absolute;
    width: 600px;
    height: 350px;
    left: 30%;
    top: 200px;
    background: #029EE4;
    border-radius: 25px;
}
.popup-window .popup-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.popup-window .popup-content .med-ins{
    display: flex;
    flex-direction: row;
}
.popup-content .med-ins1{
    display: flex;
    flex-direction: row;
    margin-left: 380px;
}
.med-desc{
    width: 550px;
    height: 150px;
    margin-top: 20px;
    background: #F3F4F5;
    border-radius: 25px;
}
.popup-content button{
    position: relative;
    width: 50px;
    height: 20px;
    background: none;
    border: none;
    outline: none;
    float: right;
    margin-right: -495px;
    margin-top: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #029EE4;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.med-desc p{
    padding: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

/* Fetal groth calculator */

.FG-calc-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin-top: 40px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    border-radius: 10px;
    padding-top: 30px;
    border-top: #029ce4 solid 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    background-color: #ededed;
}
.FG-calc-main p{
    font-style: normal;
    font-weight: 300;
    font-size: 10px;


    color: #000000;
}
input[type="submit"], input[type="reset"] {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 16px;
    background-color: #029ee4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="text"], input[type="date"] {
    margin-left: 10px;
    width: 55%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.FG-calc-main .MotherCardTableTitles {
    display: flex;
    flex-direction: row;
}
.FG-calc-main .OneColumnSection{
    margin-left: 50px;
}
.MotherCardTableTitles span{
    width: 820px;
}
.FG-calc-main .grid-2{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.FG-calc-main .grid-2 p{
    margin-left: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
}

/* ------------- vog profile update popup ------------- */

.UpdateMotherProfile {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.updateProfileInnerDiv {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.updateProfileInnerDiv table {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    /* background-color: #007bff; */
}

.updateProfileInnerDiv input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #888;
    padding: 5px;
    margin-left: -10px;
}

.updateProfileInnerDiv #mom_id, #mom_fullname, #mom_email, #mom_dob {
    border-style: none;
    cursor: default;
    color: #6e6e6e;
}

.contactAdmin:after {
    content: ' *';
    color: red;
}

.updateProfileInnerDiv #mom_id:focus, #mom_name:focus, #mom_email:focus, #mom_dob:focus {
    outline: none;
}

.contactAdminLable {
    /* background-color: #029ce4; */
    font-size: 12px;
    margin-top: 15px;
}

.contactAdminLable:before {
    content: "* ";
    color: red;
}

.momUpdatePopup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.momUpdatePopup-close:hover, .momUpdatePopup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.MotherProfilePopupBtn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.MotherProfilePopupBtn label:nth-child(1) {
    text-align: left;
    flex-grow: 1;
}

.MotherProfilePopupBtn button[type=submit] {
    justify-self: right;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.MotherProfilePopupBtn button[type=submit]:hover {
    background-color: #0069d9;
}

.MotherProfilePopupBtn button[type=cancel] {
    justify-self: right;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.MotherProfilePopupBtn button[type=cancel]:hover {
    background-color: #ec0000;
}