* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.container .header {
    background-color: rgb(195, 197, 197);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav {
    display: felx;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav span{
    margin-left: 50%
}

a {
    text-decoration: none;
}

.container .header .nav .nav-text a {
    font-size: 17px;
    font-weight: 600;
    color: black;
    padding-left: 30px;
}

.container .header .nav .logo img {
    width: 150px;
    height: 50px;
}

.container .header .nav .image-user img {
    height: 42px;
    width: 42px;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 75vh;
}

.container .content .container-n {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.container .content .container-n img {
    margin-right: 5%;
    width: 34px;
    height: 32px;
}

h1 {
    text-indent: 0.8rem;
    font-weight: 700;
    font-size: 40px;
    margin-left: 5%;
}

.container .content .middle {
    display: flex;
    align-items: center;
    margin-left: 78%;
}

.container .content .middle img {
    padding: 10px;
    width: 50px;
    height: 50px; 
}

.container .content .bar-container{
    display: grid;

}

.container .content .bar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    border-radius: 10px;
    background-color: #A1B9D8;
    height: 12vh;
    padding: 20px 75px;
    align-items: center;
    margin-top: 12px;
    margin-left: 15%;
}

.container .content .bar:hover{
    background-color: #029EE4;
}

.container .content .bar .img-manage {
    display: flex;
}

.container .content .bar .img-manage img{
    width: 40px;
    height: 40px;
}

.container .content .bar .img-manage .text-manage {
    padding-left: 20px;
}

.container .content .bar .img-manage .text-manage h3 {
    color: white;
    font-weight: 600;
    padding-bottom: 3px;
}

.container .content .bar .img-manage .text-manage p {
    color: white;
    font-weight: 0;
    font-size: 13.5px;
}

.container .content .bar .btn .btn-manage input{
    background-color: white;
    color: #05a9f5;
    border-radius: 25px;
    border-style: none;
    width: 147px;
    height: 48px;
    left: 720px;

}

.container .content .bar .btn .btn-manage{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.container .content .bar .btn .btn-manage .btn-manage-grid{
    display: grid;
}

.container .content .bar .btn .btn-manage .btn-manage-grid input{
    background-color: white;
    color: #05a9f5;
    border-radius: 10px;
    border-style: none;
    margin: 5%;
    width: 115px;
    height: 20px;
    left: 905px;
    top: 252px;
}