@font-face {
  font-family: RobotoMedium;
  src: url(../../Assets/fonts/Roboto-Medium.ttf)
}

@font-face {
  font-family: RobotoLight;
  src: url(../../Assets/fonts/Roboto-Light.ttf)
}

@font-face {
  font-family: RobotoRegular;
  src: url(../../Assets/fonts/Roboto-Regular.ttf)
}

body {
    font-family: RobotoRegular;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.goBackBtn:hover {
  background-color: #ff0000;

}

.goBackBtn {
  width: 100px;
  height: 30px;
  border-style: none;
  border-radius: 0px 25px 25px 0;
  color: #ffffff;
  background-color: #029EE4;
  cursor: pointer;
  top: 120px;
  left: 0px;
  position: fixed;
}
	
.child-container-2 {
    margin-bottom: 20px;
} 

.CardTitles {
    width: 70%;
    height: 50px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 25px;
    background-color: #289df6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    text-align: left;
    padding-top: 5px;
    color: white;
    margin-top: 10px;
}

.CardTitles h1 {
    margin-top: 5px;
    text-align: left;
    margin-left: 5px;
    font-size: 15px;
}

.CardTitles-1{
    height: 25px;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 5px;
    display: flex;
    width: 30%;
    border-radius: 20px;
    background-color: white;
}

.childcontainer-3 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.childcontainer-3 table tr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .childcontainer-3 table td:first-child {
    flex-basis: 50%;
  }
  
  .childcontainer-3 table td:last-child {
    display: flex;
    flex-basis: 50%;
  }

  .childcontainer-3 input[type="submit"] {
    background-color: #141166;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width:25%;
    margin-left: 50%;
} 

.ChildCardOuterDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.ChildCardInnerDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    box-shadow: none;
}

.ChildCardInnerDiv form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    box-shadow: none;
}
 
.boxchart{
    width: 800px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    
  }

    .form-container {
      width: 50%;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
    }

    label {
      width: 75%;
      font-weight: bold;
      margin-top: 10px;
    }
    
    input[type="text"] {
      margin-left: 10px;
      width: 55%;
      padding: 10px;
      margin-top: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    /* input[type="submit"] , */
     input[type="reset"] , #showDataBtn2 , #showDataBtn , #showDataBtn3 {
      margin-top: 10px;
      margin-bottom: 0;
      padding: 10px;
      font-size: 16px;
      background-color: #029ee4;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
   
    /* input[type="submit"]:hover , input[type="reset"]:hover , #showDataBtn2:hover , #showDataBtn:hover , #showDataBtn3:hover {
      background-color: #0e106e;
    } */


/* child-cards css */

.child-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  text-align: left;
  gap: 10px;
    padding-top: 20px;
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #029ee4;
    overflow-x: hidden;
  }
  
  .child-sidenav a {
    color:rgb(246, 246, 246);
    padding: 10px 6px 10px 32px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
    border-radius: 20px 0px 0px 20px;
    background-color: #5db5df;
  }
  
  .child-sidenav a:hover {
    color: #0e106e;
    background-color: #f2f2f2;
  }
  
  @media screen and (max-height: 450px) {
    .child-sidenav {padding-top: 15px;}
    .child-sidenav a {font-size: 18px;}
  }

  .child-container{
    margin-top: 120px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    background: #fff;
    border-radius: 6px;
    padding: 10px 60px 35px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .child-container2{
    margin-top: 06%;
    margin-left: 18%;
    margin-right: 10%;
    margin-bottom: 5%;
    background: #fff;
    border-radius: 6px;
    padding: 10px 60px 10px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

/* child-cards */
  .green-background {
    background-color: #9FFF33;
  }
  
  .red-background {
    background-color: red;
  }
  .MotherCardTableTitles {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    background-color: #029EE4;
    border-radius: 20px 20px 0px 0px;

}

.MotherCardTableTitles h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    font-size: 16px;
    color: #ffffff;
}


.MotherCardTables th {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    border-color: #029ce44f;
    width: 1%;
    white-space: nowrap;
    
}

.MotherCardTables tr:nth-child(odd){
    background-color: #029ce41e;
}

.MotherCardTables {
    width: 100%;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    border-color: #029EE4;
    padding: 3px;
    font-size: 13px;
    border-collapse: collapse;
}

.MotherCardTables td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #029ce44f;
    padding-bottom: 5px;
    font-family: RobotoRegular;
}

.MotherCardTables td:nth-child(1) {
    width: 1%;
    white-space: nowrap;
}

/* Bmi page */
.child-container-chart{
    margin-top: 06%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    background: #fff;
    border-radius: 6px;
    padding: 10px 60px 10px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#chart{
    width: 50%;
    height: 500px;
    margin-top: 10px;
    padding: 10px;
}

.light-purple {
    background-color: #D8BFD8; /* light purple color */
  }
  
  .light-red {
    background-color: #f04380; /* light red color */
  }
 
  .next {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #029ee4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .next:hover {
    background-color: #0e106e;
  }

  select{
  width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    border: 1px solid #029EE4;
    border-radius: 3px;
  }

.formSubmitBtn {
  float: right;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    border-style: none;
    border-radius: 25px;
    color: #ffffff;
    background-color: #029EE4;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 20px;
}

.formSubmitBtn:hover {
    background-color: #ff0000;
}


.container{
  margin-top: 08%;
  margin-left: 15%;
width: 75%;
background: #fff;
border-radius: 6px;
padding: 20px 60px 30px 40px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
display: flex;
align-items: center;
justify-content: space-between;
}
.container .content .left-side{
width: 25%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 15px;
position: relative;
}
.content .left-side::before{
content: '';
position: absolute;
height: 70%;
width: 2px;
right: -15px;
top: 50%;
transform: translateY(-50%);
background: #afafb6;
}
.content .left-side .details{
margin: 14px;
text-align: center;
}
.content .left-side .details i{
font-size: 30px;
color: #3e2093;
margin-bottom: 10px;
}
.content .left-side .details .topic{
font-size: 18px;
font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
font-size: 14px;
color: #afafb6;
}
.container .content .right-side{
width: 75%;
margin-left: 75px;
}
.content .right-side .topic-text{
font-size: 23px;
font-weight: 600;
color: #3e2093;
}
.right-side .input-box{
height: 50px;
width: 100%;
margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
height: 100%;
width: 100%;
border: none;
outline: none;
font-size: 16px;
background: #F0F1F8;
border-radius: 6px;
padding: 0 15px;
resize: none;
}
.right-side .message-box{
min-height: 110px;
}
.right-side .input-box textarea{
padding-top: 6px;
}
.right-side .button{
display: inline-block;
margin-top: 12px;
}
/* .right-side .button input[type="submit"]{
color: #fff;
font-size: 18px;
outline: none;
border: none;
padding: 8px 16px;
border-radius: 6px;
background: #3e2093;
cursor: pointer;
transition: all 0.3s ease;
} */
/* .button input[type="submit"]:hover{
background: #5029bc;
} */

.childDevSubmitBtn {
  float: right;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    border-style: none;
    border-radius: 25px;
    color: #ffffff;
    background-color: #029EE4;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 20px;
}

.childDevSubmitBtn:hover {
    background-color: #ff0000;
}

.radioSet{
  display: flex;
  flex-direction: row;
}

.radioSet label {
  margin-top: 1px;
}

.MotherCardTables input[type="text"]{
  width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    border: 1px solid #029EE4;
    border-radius: 3px;
    margin-left: 0px;
}
.MotherCardTables input[type="date"]{
  width: calc(100% - 10px);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  border: 1px solid #029EE4;
  border-radius: 3px;
}

.MotherCardTables input[type="radio"] {
  margin-right: 10px;
  display: flex;
}

.MotherCardTables textarea {
  width: calc(100% - 10px);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  border: 1px solid #029EE4;
  border-radius: 3px;
  margin-left: 0px;
  font-family: RobotoRegular;
}

.error3{
  width: auto;
    background-color: rgb(13, 222, 55);
    color: #ffffff;
    border-radius: 8px;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
}
.small-child-btn {
  width: 80%;
  height: 20px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 1px;
  background-color: #029EE4;
  color: #f0f0f0;
  border-color: #029EE4;
  cursor: pointer;
  border-style: none;
  font-size: 12px;
}
.search{
    width: 25%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    border: 1px solid #029EE4;
    border-radius: 3px;
    margin-left: 60%;
    display: flex;
    
}

.material-symbols-outlined {
  font-size: 40px;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
