<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="admin-panel.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="nav">
               <div class="logo"><img src="images\logo.png" alt="website logo"></div>
               <span></span>
               <div class="nav-text">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Dashboard</a>
               </div>
               <div class="image-user"><img src="images\people.png" alt="user profile picture"></div> 
            </div>
        </div>
        <div class="content">
            <div class="container-n">
            <h1>Admin Dashboard</h1>
            <img src="images\notification.png" alt="notification icon">
            </div>
            <div class="cards">
               <div class="card">
                <div class="icon-case">
                    <img src="images\mother.png" alt="mother icon">
                </div>
                <div class="box">
                    <h3>Manage Mother Accounts</h3>
                 </div>
               </div> 
               
               <a href="manage_doctor.html"><div class="card">
                <div class="icon-case">
                    <img src="images\doctor.png" alt="mother icon">
                </div>
                <div class="box">
                    <h3>Manage Doctor Accounts</h3>
                 </div>
               </div></a>

               <div class="card">
                <div class="icon-case">
                    <img src="images\phm.png" alt="mother icon">
                </div>
                <div class="box">
                    <h3>Manage PHM Accounts</h3>
                 </div>
               </div> 

            </div>

            <div class="cards">
                <div class="card">
                 <div class="icon-case">
                     <img src="images\activation.png" alt="mother icon">
                 </div>
                 <div class="box">
                    <h3>User Account Activation</h3>
                 </div>
                </div> 
                
                <div class="card">
                 <div class="icon-case">
                     <img src="images\mother.png" alt="mother icon">
                 </div>
                 <div class="box">
                    <h3>Manage Mother Accounts</h3>
                 </div>
                </div> 
 
                <div class="card">
                 <div class="icon-case">
                     <img src="images\mother.png" alt="mother icon">
                 </div>
                 <div class="box">
                    <h3>Manage Mother Accounts</h3>
                 </div>
                </div> 
                
             </div>
        </div>
        <div class="content-2">
            <span></span>
            <button><div class="btn-text"><p>Log out</p></div><div class="btn-icon"><img src="images\logout.png"></div></button>
        </div>
    </div>
</body>
</html>