<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css\style1.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Vaccination Details</title>
</head>
<body>
    <div class = "container">
        <nav>Navbar</nav>
        <main>
            <div class="Name"> <h2>Vaccination Details </h2> 
        </div>
        <div class="notification"><i class="material-icons" style="font-size:60px;color:red;">notification_important</i></div></main>

        <button type="button button1" onclick="alert('Do you want to log out?')"> Log out? <img src="images\Logout 2.png" /> </button>

        <footer>footer</footer>

    </div>
</body>
</html>